// _main.scss



#container{
    
    display: flex;
    padding: 10px;
    color:#000;

    
    h1{
    font-size: 2em;
    color: #000;
    margin-bottom: 5px;
    clear: both;
    font-weight: 600;
    }
    p{
        clear:both;
    }

    }


