// _main.scss

#holder{
  display:block;
  min-height: 100px;
}

#container{
    
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    align-items: stretch;
    padding: 10px;
    color:#000;
    margin-top:200px;
    -webkit-flex-flow: row wrap;
    margin:0;
    padding: 0;
    padding-bottom: 50px;

    .cbk-full-wrapper {
      h1{
      font-size: 4em;
      color: #000;
      margin-bottom: 5px;
      clear: both;
      font-weight: 600;
      letter-spacing: -5px;
      text-shadow: 3px 2px $grey50;
      font-weight:700;
      }
    }
    
    p{
        clear:both;
        margin-bottom:1em;
    }
    
    .cbk-full-wrapper {
      width: 95%;
      display:block;
    }
    

  }
  
      .ckb-thobber{
        width:250px;
        height:250px;
        vertical-align: middle;
        display: block;
        margin: 0 auto;
        position: relative;
        
        #circle{
            position: absolute;
            top: 40%;
            left: 40%;
            
        }
        
    }

.cbk-adholder{
  width:0px;
  height:auto;
  margin: 0 auto;
}