// _main.scss



#container{
    
    display: flex;
    space-between: 5%;
    padding: 10px;
    color:#000;

    
    h1{
    font-size: 2em;
    color: #000;
    margin-bottom: 5px;
    clear: both;
    font-weight: 600;
    }
    p{
        clear:both;
    }

    }


.ckb-recipeCard-sm{
    order: 1;
    flex-grow : 1;
    overflow: hidden;
    padding: .5em;
    border:1px solid $grey;
    
    display: block;
    
    
}