#container {
  display: flex;
  space-between: 5%;
  padding: 10px;
  color: #000; }
  #container h1 {
    font-size: 2em;
    color: #000;
    margin-bottom: 5px;
    clear: both;
    font-weight: 600; }
  #container p {
    clear: both; }

.ckb-recipeCard-sm {
  order: 1;
  flex-grow: 1; }
