// _main.scss



#container{
    
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    color:#000;

    
    h1{
    font-size: 2em;
    color: #000;
    margin-bottom: 5px;
    clear: both;
    font-weight: 600;
    }
    p{
        clear:both;
    }

    }


.ckb-recipeCard-sm{
    order: 1;
    flex-grow:  0;
    flex-shrink: 0;
    flex-basis: 23%;
    overflow: hidden;
    padding: .5em;
    border:1px solid $grey;
    height:200px;
    
    p{
        margin-bottom: .75em;
    }
    
}