// _nav.scss
nav {
	width: 20%;
	height: 50px;
	padding: 10px;
	background-color: $maincolor;
	color: $text;
	position: absolute;
	right: 20px;
	top: 15px;
	border: 1px soild red;
	overflow: hidden;
	
	
	.ckb-name {
		display: inline-block;
		height:30px;
		width:auto;
		color: $white;
		font-size: .75em;
		
		#ckb-signin{
			
			
		}
		
		#ckb-signout {
			display: none;
		}
	}

	.menucontainer {
		display: inline-block;
		cursor: pointer;
		float: right;
		border: 1px soild blue;

	}
	#closebtn {
		float: right;
	}

	.line1,
	.line2,
	.line3 {
		margin-top: 5px;
		background-color: #fff;
		width: 25px;
		height: 3px;
		display: block;
		position: relative;
		opacity: 1.0;
		border-radius: 15%;
		transition: all .3s;
	}

	.line1.active {
		transform: rotate(270deg);
		opacity: 0.0;
		background-color: $red;
		top: 5px;
	}

	.line2.active {
		transform: rotate(45deg);
		background-color: $red;
	}

	.line3.active {
		transform: rotate(-45deg);
		background-color: $red;
		top: -7px;
	}




	.menulist {
		width: 200px; 

	}


	.menuitems {
		padding-top: 12px;
		padding-bottom: 12px;
		text-decoration: none;
		list-style: none;
		font-family: "Lato", sans-serif;
        font-weight: 300;
		font-size: 24px;
		display: inline-block;
		position: relative;
		text-align: center;
		color: #fff;
		opacity: 0.0;
		transition: all .5s ease-in-out;
	}

	.menuitems:after {
		content: '';
		display: block;
		width: 0;
		height: 1px;
		background: #fff;
		transition: width .2s;
	}

	.menuitems:hover::after {
		width: 100%;
	}

	//ul {
	//	display: inline-block;
	//
	//
	//	li {
	//
	//
	//		a {
	//			width: 100%;
	//			height: 100%;
	//			color: $white;
	//		}
	//
	//		a:hover {
	//			background-color: $yellow;
	//			text-decoration: underline;
	//		}
	//	}
	//}
}